<h1
  class="mt-12 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center"
>
  Your Friend
  <span
    class="bg-gradient-to-r from-rose-800 to-pink-400 inline-block text-transparent bg-clip-text"
    >Group</span
  >
</h1>

<div>
  <form class="w-1/4 m-auto mt-10" (submit)="submitData()">
    <input
      [(ngModel)]="formData.name"
      name="name"
      class="appearance-none block w-full text-gray-700 border border-2 border-rose-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none"
      type="text"
      placeholder="Friend Name"
    />
    <div class="flex justify-center">
      <button
        type="submit"
        class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded text-center"
      >
        Add Friend
      </button>
    </div>
  </form>
</div>

@if (data != 0) {
<ul role="list" class="divide-y divide-gray-100 mx-10 mt-8">
  @for (friend of data; track friend.id) {
  <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4 items-center m-auto">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-10 h-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
      <p class="text-sm font-semibold leading-6 text-gray-900">
        {{ friend.name }}
      </p>
    </div>
  </li>
  }
</ul>
} @else {
<p class="text-center mt-8">Your group is empty!</p>
}
